<!DOCTYPE html>
<html lang="{{ page.lang | default: site.default_lang }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | xml_escape }}" href="{{ '/feed.xml' | absolute_url }}">
    {% assign __p = page.url %}
    {% if __p == '/' or __p == '/index.html' or __p == '/ru/' or __p == '/ru/index.html' or __p == '/uk/' or __p == '/uk/index.html' or __p == '/en/' or __p == '/en/index.html' %}
    <link rel="alternate" hreflang="uk" href="{{ '/uk/' | absolute_url }}">
    <link rel="alternate" hreflang="ru" href="{{ '/ru/' | absolute_url }}">
    <link rel="alternate" hreflang="en" href="{{ '/en/' | absolute_url }}">
    <link rel="alternate" hreflang="x-default" href="{{ '/' | absolute_url }}">
    {% endif %}
    {% seo %}
</head>
<body>
    <header>
        <nav>

            <a href="{{ '/about' | relative_url }}">About</a>
            <div class="language-switcher">
                <a href="{{ '/en/' | relative_url }}" class="{% if page.lang == 'en' %}active{% endif %}">ENG</a>
                <span class="separator">|</span>
                <a href="{{ '/uk/' | relative_url }}" class="{% if page.lang == 'uk' %}active{% endif %}">УКР</a>
                <span class="separator">|</span>
                <a href="{{ '/ru/' | relative_url }}" class="{% if page.lang == 'ru' %}active{% endif %}">РУС</a>
            </div>
        </nav>
    </header>

    <main>
        {{ content }}
    </main>

    <footer>
        <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
    </footer>

    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
</body>
</html>